.icono_hexagonal {
  display: inline-block;
  position: relative;
  margin: auto;
  vertical-align: middle;
  width: 2rem;
}

 .icon_hexagonal {
  position: relative;

  margin: auto;
  text-align: center;
  width: 100%;
  height:auto;
}

 
.icon_hexagonal:hover{
 width: 3rem;
 height:auto;
 position: relative;
 top:auto; 
 margin: auto;
 transition: all 0.6s ease;
}
